{{#paper-card}}
  {{#paper-card-content}}
    <h3>Domain</h3>
    {{paper-input label="Domain Min" value=domainMin}}
    {{paper-input label="Domain Max" value=domainMax}}
  {{/paper-card-content}}
{{/paper-card}}
