{{#paper-select item-label-callback=scaleDisplayName model=scaleName label="Scale"}}
  {{#paper-option value="linear-scale"}}Linear{{/paper-option}}
  {{#paper-option value="log-scale"}}Log{{/paper-option}}
  {{#paper-option value="ordinal-scale"}}Ordinal{{/paper-option}}
  {{#paper-option value="pow-scale"}}Pow{{/paper-option}}
  {{#paper-option value="sqrt-scale"}}Sqrt{{/paper-option}}
{{/paper-select}}

{{component scaleName}}

{{#paper-card}}
  {{#paper-card-content}}
    <h3>Axis Options</h3>
    {{#paper-select placeholder="Orientation" model=orientation}}
      {{#paper-option value="bottom"}}bottom{{/paper-option}}
      {{#paper-option value="top"}}top{{/paper-option}}
      {{#paper-option value="left"}}left{{/paper-option}}
      {{#paper-option value="right"}}right{{/paper-option}}
    {{/paper-select}}
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h3>Try it</h3>
    <svg class="axis" width=1000 height=1000>
      <defs>
        <clippath id="clip-body">
          <rect x=-5 y=0 width=1000 height=1000></rect>
        </clippath>
      </defs>
      {{d3-grid class="grid" orientation=orientation scale=scale width=500 height=500 translateX=translateX translateY=translateY}}
    </svg>
  {{/paper-card-content}}
{{/paper-card}}
