{{#paper-card}}
  {{#paper-card-content}}
    <h3>Range</h3>
    {{paper-input label="Range Min" type="number" value=rangeMin}}
    {{paper-input label="Range Max" type="number" value=rangeMax}}
  {{/paper-card-content}}
{{/paper-card}}
