{{#paper-content classNames="md-padding"}}
  <p>
    The <a href="https://github.com/BryanHunt/ember-d3-charts">ember-d3-charts</a>
    addon provides EmberJS components for charting data with d3.js.
  </p>

  <p>
    This is a work in progress and I hope to add more content soon.
  </p>

  <p>
    Things to try:
    <ul>
      <li>{{#link-to 'd3charts.line'}} Line Chart {{/link-to}}</li>
    </ul>
  </p>
{{/paper-content}}
