{{#paper-card}}
  {{#paper-card-content}}
    <h3>Scale</h3>
    {{#paper-select item-label-callback=scaleDisplayName model=scaleName}}
      {{#paper-option value="scales/linear-scale"}}Linear{{/paper-option}}
      {{#paper-option value="scales/log-scale"}}Log{{/paper-option}}
      {{#paper-option value="scales/ordinal-scale"}}Ordinal{{/paper-option}}
      {{#paper-option value="scales/pow-scale"}}Pow{{/paper-option}}
      {{#paper-option value="scales/sqrt-scale"}}Sqrt{{/paper-option}}
    {{/paper-select}}
    {{component scaleName scale=scale}}
  {{/paper-card-content}}
{{/paper-card}}


{{#paper-card}}
  {{#paper-card-content}}
    <h3>Axis Options</h3>
    {{#paper-select placeholder="Orientation" model=orientation}}
      {{#paper-option value="bottom"}}bottom{{/paper-option}}
      {{#paper-option value="top"}}top{{/paper-option}}
      {{#paper-option value="left"}}left{{/paper-option}}
      {{#paper-option value="right"}}right{{/paper-option}}
    {{/paper-select}}
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card}}
  {{#paper-card-content}}
    <h3>Try it</h3>
    <svg class="axis" width=1000 height=1000>
      <defs>
        <clippath id="clip-body">
          <rect x=-5 y=0 width=1000 height=1000></rect>
        </clippath>
      </defs>
      {{d3-grid class="grid" orientation=orientation scale=scale width=500 height=500 transform=gridTransform}}
    </svg>
  {{/paper-card-content}}
{{/paper-card}}
