{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'd3charts'}}Ember D3 Charts{{/link-to}}
    {{#link-to 'd3charts.line' class="toolbar-button"}} Line {{/link-to}}
    {{#link-to 'd3charts.bubble' class="toolbar-button"}} Bubble {{/link-to}}
    {{#link-to 'd3charts.bar' class="toolbar-button"}} Bar {{/link-to}}
    {{#link-to 'd3charts.area' class="toolbar-button"}} Area {{/link-to}}
    {{#link-to 'd3charts.stackedbar' class="toolbar-button"}} Stacked Bar {{/link-to}}
    {{#link-to 'd3charts.stackedarea' class="toolbar-button"}} Stacked Area {{/link-to}}
    {{#link-to 'd3charts.pie' class="toolbar-button"}} Pie {{/link-to}}
  </div>
{{/paper-toolbar}}

{{outlet}}
