{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'd3components'}}Ember D3 Components{{/link-to}}
    {{#link-to 'd3components.scales' class="toolbar-button"}} Scales {{/link-to}}
    {{#link-to 'd3components.axis' class="toolbar-button"}} Axis {{/link-to}}
    {{#link-to 'd3components.grid' class="toolbar-button"}} Grid {{/link-to}}
  </div>
{{/paper-toolbar}}

{{outlet}}
