{{component chartType class="chart-builder" options=chartOptions data=data}}

{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button}}General{{/paper-button}}
    {{#paper-button}}X Axis{{/paper-button}}
    {{#paper-button}}Y Axis{{/paper-button}}
    {{#paper-button}}Data{{/paper-button}}
  </div>
{{/paper-toolbar}}
