{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'd3'}}Ember D3 Components{{/link-to}}
    {{#link-to 'd3.scales' class="toolbar-button"}} Scales {{/link-to}}
    {{#link-to 'd3.axis' class="toolbar-button"}} Axis {{/link-to}}
  </div>
{{/paper-toolbar}}

{{outlet}}
