{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'd3charts'}}Ember D3 Charts{{/link-to}}
    {{#link-to 'd3charts.line' class="toolbar-button"}} Line {{/link-to}}
  </div>
{{/paper-toolbar}}

{{outlet}}
